<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header class="header">

        <section class="header-top-bar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg"></a>
                </div>

            <form class="search">
                <input class="buscador" type="search" name="" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>

            <section class="texto-inicial">
                <div><i class="fa-solid fa-hand-holding-dollar"></i></div>
                <p> Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
        </section>

        <nav class="header-nav-bar">
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/logIn">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>   
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="banner">
            <img src="/images/img-home-banner.jpg"> 
        </div>

    </header>

    <!-- Formulario de Registro -->

    <main>
        <div class="main">
            <form action="/" method="POST" class="formulario-registro">
                <div class="mitad-pantalla">
                    <div class="form-izquierda">
                        <div class="formulario-campo">
                            <input type="text" placeholder="Nombre y apellido" required minlength="8">
                        </div>
                        
                        <div class="formulario-campo">
                            <input type="text" placeholder="Nombre de usuario" required>
                        </div>

                        <div class="fecha-nacimiento">
                            <label for="fecha-nacimiento"><h2>Fecha de nacimiento</h2></label>
                            <input type="date" id="fecha-nacimiento" required>
                        </div>
                        
                        <div class="formulario-campo">
                            <input type="text" placeholder="Domicilio" required>
                        </div>
                        
                        <div class="preferencias-usuario">
                            <label for="comprar-vender"><h2>Perfil de usuario</h2></label>
                            <select name="comprar-vender" id="comprar-vender"  required>
                                <option value="comprador">Comprador</option>
                                <option value="vendedor">Vendedor</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-derecha">
                        <div class="intereses">
                            <label><h2>Intereses</h2></label>
                            <div class="seleccion-multiple">
                                <div>
                                    <input type="checkbox" name="intereses" value="electro" id="electro">
                                    <label for="electro">Electro</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" value="moda" id="moda">
                                    <label for="moda">Moda</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" value="hogar" id="hogar">
                                    <label for="hogar">Hogar</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
                                    <label for="jugueteria">Jugueteria</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana">
                                    <label for="vida-sana">Vida sana</label>
                                </div>
                            </div>
                        </div>

                        <div class="profile-picture">
                            <label for="foto-usuario"><h2>Foto de perfil</h2></label>
                            <input type="file" name="foto-usuario" id="foto-usuario" required>
                        </div>
                        
                    </div>
                </div>

                <div class="formulario-campo">
                    <input type="password" placeholder="Contraseña" required>
                </div>

                <div class="formulario-campo">
                    <input type="password" placeholder="Confirmar contraseña" required>
                </div>
                
                <div class="botones">
                    <div class="formulario-campo, boton-registro">
                        <button type="submit">Registrarse</button>
                    </div>

                    <div class="formulario-campo, boton-borrar">
                        <button type="reset"> Borrar todo</button>
                    </div>
                </div>
                
            </form>
        </div>
    </main>

    <footer>
        <div class="footer">

            <section class="footer-section">
                <i class="fa-solid fa-credit-card"></i> 
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="footer-section">
                <i class="fa-solid fa-gift"></i>
                <h3>Envio gratis desde los $2.500</h3>
                <p>Solo por estar registrado en MErcado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </section>

            <section class="footer-section">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
            </section>
            
        </div>    
    </footer>

    <section>
        <p class="copyright">Copyright © 1999-2020 Mercado Liebre S.R.L</p>
    </section>

</body>
</html>